 h1 {
   padding: 4.5rem;
   background-image: url(../images/coffees/256505890.png);
   border-radius: 0.5rem;

   text-align: center;
   font-size: 2rem;
 }

  .para__404 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 2rem;
 }